.configuration-container {
  width: 20vw;
  height: 100vh;
  z-index: 999999;

  position: fixed;
  top: 8vh;
  bottom: 0;
  right: 0;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.config-form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  padding-top: 5%;
}
